body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 32px;
    background-image: url('img/addPicture/desertBackground.png');
    background-position: center;
    background-size: cover fit;
    background-repeat: no-repeat;
}

.d-none {
    display: none;
}

canvas {
    background-color: black;
    display: block;
}

#startScreen{
    
    display: flex;
}

#playButton{
    width: 50px;
    height: 50px;
    position: relative;
    top: 16px;
    left: calc(50% - (50px / 2));
}

@media only screen and (max-width: 720px) {

    canvas,
    #startScreen {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {

    canvas,
    #startScreen {
        height: 100%;
    }
}